.project-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 80%;
    border: 0.4px solid #181d39;
    border-radius: 50px;
    padding: 36px 50px;
    background: rgba(7,215,231,0);
    background: linear-gradient(0deg, rgba(21, 36, 49, 0.8) 0%, rgba(7,215,231,0) 100%);
    box-shadow: 3.3px 5px 12px rgb(0 0 0 / 60%);
}

.project-container:nth-of-type(even) {
    flex-direction: row-reverse;
}
.project-container .project-image {
    overflow: hidden;
    border-radius: 50px;
    position: relative;
    min-height: 400px;
    width: 100%;
    -webkit-filter: brightness(90%) contrast(90%) blur(0.4px) grayscale(10%);
    filter: brightness(90%) contrast(90%) blur(0.4px) grayscale(10%);  
    box-shadow: 3.3px 5px 12px rgb(0 0 0 / 60%);
}

.project-container .image-overlay {
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(54deg, rgb(7 61 231) 0%, rgba(255,255,255,0.28335084033613445) 100%);
}
.project-container .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 767.98px) {
    .project-container {
        flex-direction: column!important;
        width: 96%;
        gap: 20px;
        border-radius: 32px;
        padding: 20px;
    }
    .project-container .project-image {
        border-radius: 20px;
        min-height: 200px;
    }
    .project-container .project-image img {
        position: absolute;
    }
}