/* FONTS */

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/oswald-v49-latin-regular.woff2') format('woff2'),
         url('../fonts/oswald-v49-latin-regular.woff') format('woff');
}
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/oswald-v49-latin-700.woff2') format('woff2'),
         url('../fonts/oswald-v49-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    src: local(''),
            url('../fonts/chakra-petch-v9-latin-regular.woff2') format('woff2'),
            url('../fonts/chakra-petch-v9-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/archivo-black-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/archivo-black-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    -webkit-appearance: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    color: #fff;
    background: rgb(26,26,26);
    background: linear-gradient(60deg, rgba(26,26,26,1) 0%, rgba(3,10,48,1) 100%);
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(3,10,48,1); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5fd345; 
    border-radius:4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 1060px;
}

.panel {
    border-radius: 20px;
    background-color: #0d0d24;
    color: #fff;
    border: 1px solid #333266;
    box-shadow: 3.3px 5px 12px rgb(0 0 0 / 60%);
    padding: 10px 15px;
}

header {
    font-family: Oswald;
    position: fixed;
    top: 15px;
    left: 50%;
    width: 60%;
    max-width: 600px;
    z-index: 99;
    font-weight: 400;
    transform: translate(-50%, 0px);
    transition: 0.6s translate ease-out, 0.4s max-height linear;
    max-height: 54px;
    overflow: hidden;
}

@media only screen and (max-width:576px) {
    header {
        width: 96%;
    }
}

header.bounce {
    animation: bounce;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes bounce {
    0% {transform: translate(-50%, 0px)}
    50% {transform: translate(-50%, 5px)}
    100% {transform: translate(-50%, 0px)}
}

header.menu-open {
    max-height: 500px;
}

header .header-container {
    display: flex;
    justify-content: space-between;
}

:is(header) .logo, .menu {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}

header .header-container > div {
    display: flex;
    align-items: center;
}

header .logo svg {
    width: 30px;
    height: 32px;
    transform: rotate3d(1, 1, 1, -38deg);
    transition: 0.1s all linear;
}

header .logo svg path.top {
    fill: #5fd345;
}

header .logo svg path.bottom {
    fill: #fff;
}

header .menu svg {
    width: 30px;
    height: 32px;
    cursor: pointer;
}

header .menu svg rect {
    fill: #fff;
    transition: 0.3s all;
}

header .menu svg rect.middle {
    transform-origin: center;
}

header .menu:hover svg rect.middle {
    fill: #5fd345;
    transition-delay: 0.1s;
}

header .menu:hover svg rect.top {
    fill: #5fd345;
}

header .menu:hover svg rect.bottom {
    fill: #5fd345;
    transition-delay: 0.2s;
}

header .menu svg.close rect.middle {
    transform: scaleX(0);
    transition-delay: 0s;
}

header .menu svg.close rect.top {
    transform: rotate(20deg) scaleX(1.05);
}

header .menu svg.close rect.bottom {
    transform: rotate(-20deg) scaleX(1.05);
    transform-origin: bottom left;
    transition-delay: 0s;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .content {
    transform: translateX(-300px);
    height: max-content;
    font-family: 'Archivo Black';
    opacity: 0;
    transition: 0.6s all ease-in;
}

section .content.show {
    transform: translate(0);
    opacity: 1;
}

.text-icons-grid {
    display: grid;
    grid-template-columns: auto 32%;
    grid-gap: 50px;
}

.text-icons-grid .text {
    display: flex;
    align-items: center;
    font-size: 45px;
}

.text-icons-grid .text span {
    background: rgb(203,76,200);
    background: linear-gradient(40deg, rgba(203,76,200,1) 0%, rgba(7,215,231,1) 25%, rgba(203,76,200,1) 50%, rgba(7,215,231,1) 75%, rgba(203,76,200,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: text-gradient 3s ease infinite;
    animation: text-gradient 10s ease infinite;
    transition: 10s all;
    background-size: 400% 400%;
}

@keyframes text-gradient {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    to{background-position:0 50%}
}

.icon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.icon-grid .icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}