/* ROOTS */

:root {
    --green: #5fd345;
}

/* FONTS */

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/oswald-v49-latin-regular.woff2') format('woff2'),
         url('../fonts/oswald-v49-latin-regular.woff') format('woff');
}
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/oswald-v49-latin-700.woff2') format('woff2'),
         url('../fonts/oswald-v49-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    src: local(''),
            url('../fonts/chakra-petch-v9-latin-regular.woff2') format('woff2'),
            url('../fonts/chakra-petch-v9-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/archivo-black-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/archivo-black-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    -webkit-appearance: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    color: #fff;
    background: rgb(26,26,26);
    background: linear-gradient(60deg, rgba(26,26,26,1) 0%, rgba(3,10,48,1) 100%);
    font-family: 'Archivo Black';
}

img {
    width: 100%;
    height: 100%;
}

a {
    color: var(--green);
    text-decoration: none;
    transition: 0.3s all;
    position: relative;
}

h2 {
    font-size: 2.1rem;
    font-family: 'Archivo Black';
    color: #fff;
}

h3 {
    font-size: 1.9rem;
    font-family: 'Archivo Black';
    color: #fff;
}

p {
    font-family: Oswald;
}

ul {
    font-family: Oswald;
    /* margin: 0; */
    padding-left: 20px;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: rgba(3,10,48,1); 
}
::-webkit-scrollbar-thumb {
    background: var(--green);
    /* background: inherit;  */
    border-radius:4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

* {
    box-sizing: border-box;
}

main {
    position: relative;
}

.ecom-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.ecom-img img {
    object-fit: cover;
    filter: blur(4px) brightness(0.6);
    opacity: 0.3;
}

.container {
    margin: 150px auto;
    padding: 1.5rem;
    max-width: 1060px;
}
.container.no-margin {
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 1060px;
}
.container.full-width {
    margin: 150px auto;
    padding: 0;
    max-width: unset;
    width: 100%;
}
.container.full-height {
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 1060px;
    min-height: 100vh;
}

.panel {
    border-radius: 20px;
    background-color: #0d0d24;
    color: #fff;
    border: 1px solid #333266;
    box-shadow: 3.3px 5px 12px rgb(0 0 0 / 60%);
    padding: 10px 15px;
}

header {
    font-family: Oswald;
    position: fixed;
    top: 15px;
    left: 50%;
    width: 60%;
    max-width: 600px;
    z-index: 99;
    font-weight: 400;
    transform: translate(-50%, 0px);
    transition: 0.6s translate ease-out, 0.4s max-height linear;
    max-height: 54px;
    overflow: hidden;
}

@media only screen and (max-width:576px) {
    header {
        width: 96%;
    }
}

header.bounce {
    animation: bounce;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes bounce {
    0% {transform: translate(-50%, 0px)}
    50% {transform: translate(-50%, 5px)}
    100% {transform: translate(-50%, 0px)}
}

header.menu-open {
    max-height: 500px;
}

header .header-container {
    display: flex;
    justify-content: space-between;
}

:is(header) .logo, .menu {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}

header .header-container > div {
    display: flex;
    align-items: center;
}

header .logo svg {
    width: 30px;
    height: 32px;
    transform: rotate3d(1, 1, 1, -38deg);
    transition: 0.1s all linear;
}

header .logo svg path.top {
    fill: var(--green);
}

header .logo svg path.bottom {
    fill: #fff;
}

header .menu svg {
    width: 30px;
    height: 32px;
    cursor: pointer;
}

header .menu svg rect {
    fill: #fff;
    transition: 0.3s all;
}

header .menu svg rect.middle {
    transform-origin: center;
}

header .menu:hover svg rect.middle {
    fill: var(--green);
    transition-delay: 0.1s;
}

header .menu:hover svg rect.top {
    fill: var(--green);
}

header .menu:hover svg rect.bottom {
    fill: var(--green);
    transition-delay: 0.2s;
}

header .menu svg.close rect.middle {
    transform: scaleX(0);
    transition-delay: 0s;
}

header .menu svg.close rect.top {
    transform: rotate(20deg) scaleX(1.05);
}

header .menu svg.close rect.bottom {
    transform: rotate(-20deg) scaleX(1.05);
    transform-origin: bottom left;
    transition-delay: 0s;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 94vw;
    padding: 0.6vw 2.2vw;
    background-color: rgba(42,43,56,.5);
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(30px);
    border-radius: 20px 20px 0 0;
}

footer > div {
    display: flex;
    align-items: center;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 4px;
}

footer .social-links {
    display: flex;
    gap: 10px;
}

footer .social-links a {
    border-bottom: 2px solid transparent;
    transform: translateY(4px);
}

footer .social-links a:hover {
    border-bottom: 2px solid var(--green);
}

footer .social-links a svg, footer .social-links svg rect {
    transition: 0.3s all;
    pointer-events: none;
    fill: var(--green);
}

footer .social-links a:hover svg {
    transform: translateY(-4px);
    color: #ff57b4;
}

footer .social-links .link-title {
    font-family: Oswald;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    transform: translateX(0)
}

footer .social-links .link-title.slide-skew-in {
    animation: slide-skew-in;
    animation-duration: 0.4s;
}

@keyframes slide-skew-in {
    0% {transform: translateX(40px) skewX(15deg);opacity: 0}
    70% {transform: translateX(-10px) skewX(20deg);opacity:1;letter-spacing: 1px;}
    100% {transform: translateX(0) skewX(0deg);opacity:1;letter-spacing: 0;}
}

section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .content {
    transform: translateX(-300px);
    height: max-content;
    font-family: 'Archivo Black';
    opacity: 0;
    transition: 0.6s all ease-in;
    position: relative;
    width: 100%;
}

section .content.show {
    transform: translate(0);
    opacity: 1;
}

section .content .section-title {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    font-family: 'Chakra Petch';
    color: var(--green);
}

section .content .section-title span {
    animation: flash 0.6s ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flash {
    0% {opacity: 0}
    100% {opacity: 1}
}

.text-icons-grid {
    
}

.text-icons-grid .text {
    display: flex;
    align-items: center;
    font-size: 45px;
}

.text-icons-grid .text h1 {
    font-size: clamp(26px, 5vw, 65px);
}

.text-icons-grid .text span {
    background: rgb(203,76,200);
    background: linear-gradient(40deg, rgba(203,76,200,1) 0%, rgba(7,215,231,1) 25%, rgba(203,76,200,1) 50%, rgba(7,215,231,1) 75%, rgba(203,76,200,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: text-gradient 3s ease infinite;
    animation: text-gradient 10s ease infinite;
    transition: 10s all;
    background-size: 400% 400%;
}

@keyframes text-gradient {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    to{background-position:0 50%}
}

.icon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.icon-grid .icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: icon-pop 0.5s ease;
    transition: 0.5s all ease;
    animation-delay: 0.5s;
}

.icon-grid .icon:nth-last-of-type(2) {
    animation-delay: 0.6s;
}

.icon-grid .icon:nth-last-of-type(3) {
    animation-delay: 0.7s;
}

.icon-grid .icon:nth-last-of-type(4) {
    animation-delay: 0.8s;
}

@keyframes icon-pop {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.icon-grid .icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}